[workspace]
resolver = "2"
members = ["core"]

[profile.release]
lto = true
panic = "abort"
incremental = false
codegen-units = 1
opt-level = 3

[patch.crates-io]
tycho-executor = { git = "https://github.com/broxus/tycho-vm.git", rev = "01c8e061ae77dcb26d4f962a088644b6513541cd" }
tycho-types = { git = "https://github.com/broxus/tycho-types.git", rev = "04023a04af95d446fc2c5ed29c233cac190a13d4" }
tycho-vm = { git = "https://github.com/broxus/tycho-vm.git", rev = "01c8e061ae77dcb26d4f962a088644b6513541cd" }
